<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<h1>Citizen Science Search</h1>

<form action="{% url 'search_results' %}" method="get">
    <label for="q">Search Query:</label>
    <input name="q" id="q" type="text" size="60" placeholder="SELECT * WHERE { ?s ?p ?o. }">
    <button type="submit">Search</button>
</form>
<br>
Example search: "SELECT * WHERE { ?s ?p ?o. } limit 10"

</body>
</html>