[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
sparqlwrapper = "*"
requests = "*"
django-tables2 = "*"
nltk = "*"
django-crispy-forms = "*"
